.hero {
  background-image: url("herobg.png");
  background-position: "center";
  background-size: cover;
}
footer > div {
  background-image: url("6px.png");
  background-repeat: no-repeat;
  background-position: "center";
  background-size: cover;
}
/* Add to your <style> section */
html[dir="rtl"] .swiper-button-next {
  left: 10px;
  right: auto;
}

html[dir="rtl"] .swiper-button-prev {
  right: 10px;
  left: auto;
}

html[dir="rtl"] {
  direction: rtl;
}

html[dir="rtl"] .text-left {
  text-align: right;
}

html[dir="rtl"] .text-right {
  text-align: left;
}

@import "tailwindcss";
