.hero {
  background-image: url("herobg.png");
  background-position: "center";
  background-size: cover;
}
footer > div {
  background-image: url("6px.png");
  background-repeat: no-repeat;
  background-position: "center";
  background-size: cover;
}
@import "tailwindcss";
